<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="default" closeTimeout="01:00:00" openTimeout="01:00:00"
                    receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9110/CharityService/"
                binding="netTcpBinding" bindingConfiguration="default" contract="CharityService.ICharity"
                name="Charity" />
        </client>
    </system.serviceModel>
  
</configuration>